---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import PageHeader from "../components/PageHeader.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(a.frontmatter.pubDate).valueOf() -
    new Date(b.frontmatter.pubDate).valueOf()
);
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script src="../toggle-state.js"></script>
    <style lang="scss">
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
        /* padding: 1em 0; */
        gap: 2rem;
        margin: 1em 0;
        padding: 1em;
        border: 1px solid #e6e6e6;
        border-radius: 0.25em;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
      }
      .blog-datestamp-container {
        // background-color: yellow;
        display: flex;
        flex: 1;
        justify-content: flex-end;
      }
      .blog-description-container {
        // background-color: pink;
        display: flex;
        flex-direction: column;
        flex: 6;
        h3 {
          margin: 0 0;
          padding: 0 0;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <div class="root-wrapper" id="sub-page">
      <div class="root-content">
        <h1>Writing</h1>
        <h2>Yeah I guess its a blog</h2>

        <ul>
          {
            posts.map((post) => (
              <a class="blog-link" href={post.url}>
                <li>
                  <div class="blog-datestamp-container">
                    <p datetime={post.frontmatter.pubDate}>
                      {new Date(post.frontmatter.pubDate).toLocaleDateString(
                        "en-us",
                        {
                          year: "numeric",
                          month: "short",
                          day: "numeric",
                        }
                      )}
                    </p>
                  </div>

                  <div class="blog-description-container">
                    <h3 class="description">{post.frontmatter.title}</h3>
                    <p>{post.frontmatter.description}</p>
                  </div>
                </li>
              </a>
            ))
          }
        </ul>
      </div>
    </div>
  </body>
</html>
