---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { greetings, images } from "../data/allGreetings.js";

// Select a random greeting server-side
const randomGreeting = greetings[Math.floor(Math.random() * greetings.length)];
const randomImage = images[Math.floor(Math.random() * images.length)];
---

<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/global.scss" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5VVGRENYE8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-5VVGRENYE8");
    </script>
    <style lang="scss">
      @import "../styles/_mixins.scss";

      @keyframes fadeIn {
        0% { opacity: 0; transform: translateY(-10px); }
        100% { opacity: 1; transform: translateY(0); }
      }

      .about-wrapper {
        width: 100vw;
        min-height: 100vh;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      
      .hero__greeting {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
      }

      #greeting {
        opacity: 0;
        animation: fadeIn 500ms forwards;
        width: fit-content;
      }

      #hero__image {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        animation: fadeIn 500ms forwards;
      }

      #name {
        width: fit-content;
      }
      .greeting__wrapper{
        display: flex;
        gap: 16px;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="about-wrapper">
      <section class="hero__greeting">
        <img id="hero__image" src={randomImage} alt="Self portrait" />
        <div class="greeting__wrapper">
          <h1 id="greeting">{randomGreeting.text}</h1>
          <h1 id="name">I'm John!</h1>
        </div>
      </section>      
      <section>
        <h2>
          A Product Design Manager living in Seattle. </br>Currently at
          <a href="https://sentry.io/welcome/">Sentry</a>.
        </h2>
      </section>
      <section class="root-social-container">
        <a href="https://read.cv/manhart"><span class="root-social-links">Read.cv</span></a>
        <a href="https://github.com/jmanhart"><span class="root-social-links">Github</span></a>
        <a href="https://www.linkedin.com/in/john-manhart/"><span class="root-social-links">Linkedin</span></a>
        <a href="https://letterboxd.com/manhart"><span class="root-social-links">Letterboxd</span></a>
      </section>
    </main>
  </body>

  <script>
    console.log(
      "%cWhat are you doing in here?! 🕵️‍♂️",
      "color: #888; font-size: 16px; font-weight: bold;"
    );
    console.log(
      "%cThis site was built with Astro over a few hundred commits in my free time. It could always be better but thats life.",
      "color: #008080; font-size: 14px;"
    );
    console.log("If you wanna see some code: https://github.com/jmanhart/");
  </script>
</html>





