---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
import ProjectHeader from "../components/ProjectHeader.astro";
import { getAllProjects } from "../data/projects.js";

const projects = getAllProjects();
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="sub-page-wrapper">
      <div class="root-content text-page">
        <div>
          <h2>Projects</h2>
          <p>Here is a list of silly things I have been working on over the past few months to stay sharp and learn new things.</p>
          <div class="project-cards">
            {projects.map(project => (
              <ProjectHeader 
                title={project.title}
                description={project.description}
                liveUrl={project.liveUrl}
                liveSiteText={project.liveSiteText}
                githubUrl={project.githubUrl}
                variant={project.variant}
                height="200px"
                href={project.href}
              />
            ))}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
