---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { fetchCollection } from "../utils/discogsApi";
const apiKey = import.meta.env.PUBLIC_DISCOGS_API_TOKEN;

let collection = await fetchCollection(apiKey);

// Sort the collection alphabetically by artist name (A-Z)
collection.sort((a, b) => {
  const artistA = a.basic_information.artists[0].name.toLowerCase();
  const artistB = b.basic_information.artists[0].name.toLowerCase();
  return artistA < artistB ? -1 : artistA > artistB ? 1 : 0;
});
---

<html lang="en">
  <head>
    <BaseHead title="All Records" />
  </head>
  <body>
    <Header />
    <div class="root-wrapper" id="sub-page">
      <div class="root-content text-page">
        <div class="info-container">
          <h1>🎶 All Records</h1>
          <p>Album Count: {collection.length}</p>
          <div id="collection-list">
            {
              collection.map((release) => (
                <div
                  class="release"
                  key={release.id}
                  style="display: flex; align-items: center; margin-bottom: 15px;"
                >
                  {release.basic_information.cover_image ? (
                    <img
                      src={release.basic_information.cover_image}
                      alt={`Cover of ${release.basic_information.title}`}
                      style="width: 50px; height: 50px; object-fit: cover; margin-right: 15px; border-radius: 5px;"
                    />
                  ) : (
                    <div style="width: 50px; height: 50px; background-color: gray; display: flex; align-items: center; justify-content: center; margin-right: 15px; border-radius: 5px; color: white; font-size: 12px;">
                      :(
                    </div>
                  )}
                  <div>
                    <h3 style="font-style: italic; margin: 0;">
                      {release.basic_information.title}
                    </h3>
                    <p style="margin: 0;">
                      {release.basic_information.artists[0].name}
                    </p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
