---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./writing/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="sub-page-wrapper" id="sub-page">
      <div class="root-content text-page">
        <ul>
          {
            posts.map((post) => (
              <a class="blog-link" href={post.url}>
                <li>
                  <div>
                    <h5
                      class="blog-date-stamp"
                      datetime={post.frontmatter.pubDate}
                    >
                      {post.frontmatter.count} <span class="divider"> | </span>
                      {new Date(post.frontmatter.pubDate).toLocaleDateString(
                        "en-us",
                        {
                          year: "numeric",
                          month: "short",
                          day: "numeric",
                        }
                      )}
                    </h5>

                    <h3 class="description">{post.frontmatter.title}</h3>
                    <p class="blog-short-description">
                      {post.frontmatter.description}
                    </p>
                  </div>
                </li>
              </a>
            ))
          }
        </ul>
      </div>
    </div>
    <style lang="scss">
      ul {
        list-style-type: none;
        padding: unset;
      }
      li {
        display: flex;
        margin: 0 0 1.5em 0;
        flex-direction: row;
        gap: 1em;
      }
      .blog-datestamp-container {
        display: flex;
        flex: 2 2 0;
        justify-content: flex-end;
      }
      .blog-description-container {
        display: flex;
        flex-direction: column;
        flex: 6;
        h3 {
          margin: 0 0;
          padding: 0 0;
        }
      }
      .blog-short-description {
        margin: 0 0 0 0;
      }
      .blog-date-stamp {
        margin: 0 0 0 0;
      }
      .blog-number-count-container {
        display: flex;
      }
      .blog-number-count {
        margin: 0 0;
      }
    </style>
  </body>
</html>
